In [1]:
# import libraries
import pandas as pd
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# import data
df = pd.read_csv('1.BeijingHouse.csv')
df.head(3)

,url,id,Lng,Lat,Cid,tradeTime,DOM,followers,totalPrice,price,...,kitchen,bathRoom,buildingType,constructionTime,renovationCondition,buildingStructure,ladderRatio,elevator,fiveYearsProperty,subway
0,https://bj.lianjia.com/chengjiao/101084782030....,1.010000e+11,116.475489,40.019520,1.110000e+12,2016-08-09,1464,106,415.0,31680,...,1,1,1.0,2005,3,6,0.217,1,0,1
1,https://bj.lianjia.com/chengjiao/101086012217....,1.010000e+11,116.453917,39.881534,1.110000e+12,2016-07-28,903,126,575.0,43436,...,1,2,1.0,2004,4,6,0.667,1,1,0
2,https://bj.lianjia.com/chengjiao/101086041636....,1.010000e+11,116.561978,39.877145,1.110000e+12,2016-12-11,1271,48,1030.0,52021,...,1,3,4.0,2005,3,6,0.500,1,0,0

In [3]:
df.shape

(10629, 23)

In [4]:
df.columns

Index(['url', 'id', 'Lng', 'Lat', 'Cid', 'tradeTime', 'DOM', 'followers',
       'totalPrice', 'price', 'square', 'livingRoom', 'drawingRoom', 'kitchen',
       'bathRoom', 'buildingType', 'constructionTime', 'renovationCondition',
       'buildingStructure', 'ladderRatio', 'elevator', 'fiveYearsProperty',
       'subway'],
      dtype='object')

In [6]:
df['price_log'] = np.log(df['price'])

In [8]:
df['livingRoom^2'] = df['livingRoom']**2
df['drawingRoom^2'] = df['drawingRoom']**2
df['bathRoom^2'] = df['bathRoom']**2
df['kitchen^2'] = df['kitchen']**2

In [9]:
df['livingRoom^2+'] = df['livingRoom']+df['livingRoom^2']
df['drawingRoom^2+'] = df['drawingRoom']+df['drawingRoom^2']
df['bathRoom^2+'] = df['bathRoom']+df['bathRoom^2']
df['kitchen^2+'] = df['kitchen']+df['kitchen^2']

In [ ]:
plt.figure(figsize=(15,15))
#plt.scatter(df['bathRoom'], df['totalPrice'], alpha=0.5)
#plt.scatter(df['bathRoom'], df['price'], alpha=0.5)
sns.scatterplot(data=df, x='bathRoom', y='price')
plt.xlabel('Bathroom')
plt.ylabel('Sale Price')
#plt.savefig('bathRoom.png')
plt.show()