# Stata

Learning Stata for Econometrics class

Useful Resources for Stata/Python conversion:
- [Stata to Python equivalent](http://www.danielmsullivan.com/pages/tutorial_stata_to_python.html)
- [Stata, R, pandas cheatsheet](https://cheatsheets.quantecon.org/stats-cheatsheet.html)

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('wage.xls')
df.head()

   RNS  MRT  SMSA  MED  KWW   IQ  AGE   S    EXPR  TENURE        wage
0    0    1     1    8   35   93   31  12  10.635       2  768.930054
1    0    1     1   14   41  119   37  18  11.367      16  807.545959
2    0    1     1   14   46  108   33  14  11.035       9  824.683777
3    0    1     1   12   32   96   32  12  13.089       7  650.017944
4    0    1     1    6   27   74   34  11  14.402       5  562.280029

Python: `df.describe` == `df.info`

In [3]:
df.describe

<bound method NDFrame.describe of      RNS  MRT  SMSA  MED  KWW   IQ  AGE   S    EXPR  TENURE         wage
0      0    1     1    8   35   93   31  12  10.635       2   768.930054
1      0    1     1   14   41  119   37  18  11.367      16   807.545959
2      0    1     1   14   46  108   33  14  11.035       9   824.683777
3      0    1     1   12   32   96   32  12  13.089       7   650.017944
4      0    1     1    6   27   74   34  11  14.402       5   562.280029
..   ...  ...   ...  ...  ...  ...  ...  ..     ...     ...          ...
753    1    1     1    8   45  113   35  16   8.205      10  1442.308105
754    1    1     0    7   39   93   35  12  10.737       3   644.838562
755    1    1     0   12   38  101   33  12  10.589       5   643.550171
756    1    1     0    7   33  100   31  12   9.004       3   477.230682
757    1    1     1    8   32  102   31  13   9.834       3  1202.310059

[758 rows x 11 columns]>

Python: `df.info()` ~= `df.dtypes`

Stata: `describe`

In [7]:
df.info

<bound method DataFrame.info of      RNS  MRT  SMSA  MED  KWW   IQ  AGE   S    EXPR  TENURE         wage
0      0    1     1    8   35   93   31  12  10.635       2   768.930054
1      0    1     1   14   41  119   37  18  11.367      16   807.545959
2      0    1     1   14   46  108   33  14  11.035       9   824.683777
3      0    1     1   12   32   96   32  12  13.089       7   650.017944
4      0    1     1    6   27   74   34  11  14.402       5   562.280029
..   ...  ...   ...  ...  ...  ...  ...  ..     ...     ...          ...
753    1    1     1    8   45  113   35  16   8.205      10  1442.308105
754    1    1     0    7   39   93   35  12  10.737       3   644.838562
755    1    1     0   12   38  101   33  12  10.589       5   643.550171
756    1    1     0    7   33  100   31  12   9.004       3   477.230682
757    1    1     1    8   32  102   31  13   9.834       3  1202.310059

[758 rows x 11 columns]>

Python: `df[<var>].dtype`
    
Stata: `describe <var>`

In [8]:
df['AGE'].dtypes

dtype('int64')

Python: `df.shape[0]` == `len(df)` 

Stata: `count`

In [10]:
df.shape

(758, 11)

Python:	`df['<var>'].describe()`

Stata: `summ <var>`

In [13]:
df['AGE'].describe()

count    758.000000
mean      33.011873
std        3.085504
min       28.000000
25%       30.000000
50%       33.000000
75%       36.000000
max       38.000000
Name: AGE, dtype: float64